.AdminMenu {
  margin-top: 25px;
}

.Link:hover {
  text-decoration: none;
  color: red;
}

.MenuItem {
  margin-bottom: 22px;

}

.MenuItem:hover {
  border: 0px solid rgb(86, 180, 239);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset,
    0px 0px 8px rgba(82, 168, 236, 0.6);
}

.MenuItemForm {
  margin-left: 25%;
  margin-right: 25%;
}

.MenuItemList {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 30px;
}

.PreviewList-imageContainer-402 {
    z-index: 10;
    position: relative;
    margin: auto;
    padding: 0;
    text-align: center;
}

@media only screen and (max-width: 1100px) {
  .MenuItemList {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 30px;
  }
  .MenuItemForm {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 15px;
  }
}